---
layout: default
---

<!-- Banner -->
  <section class="banner full">

    {% for post in site.posts limit:5 %}
    <article>
      <img {% if post.featured_image %}src="{{ post.featured_image | relative_url }}"{% else %}src="http://www.publicdomainpictures.net/pictures/170000/velka/grunge-background-1463561319MuZ.jpg"{% endif %}/>
      <div class="inner">
        <header>
          <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
          <p>{{ post.excerpt | truncate: 400 | strip_html }}</p>
        </header>
      </div>
    </article>
    {% endfor %}

  </section>

  <section id="one" class="wrapper style2">
    <div class="inner">
      <div class="grid-style">

        {% for post in site.posts %}
        <div>
          <div class="box">
            {% if post.featured_image %}
              <div class="image fit">
                <img src="{{post.featured_image | relative_url}}" alt="" />
              </div>
            {% endif %}
            <div class="content">
              <header class="align-center">
                <h2>{{ post.title | escape }}</h2>
              </header>
              <p>{{ post.excerpt | truncate: 400 | strip_html }}</p>
              <footer class="align-center">
                <a href="{{ post.url | relative_url }}" class="button alt">Learn More</a>
              </footer>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

</div>
