---
layout: default
---

<!-- One -->
  <section id="One" class="wrapper style3" {% if page.featured_image %} style="background-image: url('{{page.featured_image | relative_url}}')" {% endif %}>
    <div class="inner">
      <header class="align-center">
        <h2>{{page.title}}</h2>
      </header>
    </div>
  </section>

<!-- Two -->
  <section id="two" class="wrapper style2">
    <div class="inner">
      <div class="box">
        <div class="content">
          <header class="align-center">
            <h2>{{page.title}}</h2>
          </header>
          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </section>
